@import "tailwindcss";
@import "@heroui/styles";

@import "./themes/blue.css" layer(theme);
@import "./themes/pink.css" layer(theme);
@import "./themes/green.css" layer(theme);
@import "./themes/yellow.css" layer(theme);

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}