@layer base {

    :root[data-theme="yellow-light"] {
        /* Theme Colors (Light Mode) */
        --accent: oklch(62.04% 0.1950 81.88);
        --accent-foreground: oklch(99.11% 0 0);
        --background: oklch(97.02% 0.0200 81.88);
        --border: oklch(90.00% 0.0200 81.88);
        --danger: oklch(65.32% 0.2421 5.11);
        --danger-foreground: oklch(99.11% 0 0);
        --default: oklch(94.00% 0.0200 81.88);
        --default-foreground: oklch(21.03% 0.0059 81.88);
        --field-background: oklch(100.00% 0.0100 81.88);
        --field-foreground: oklch(21.03% 0.0200 81.88);
        --field-placeholder: oklch(55.17% 0.0400 81.88);
        --focus: oklch(62.04% 0.1950 81.88);
        --foreground: oklch(21.03% 0.0200 81.88);
        --muted: oklch(55.17% 0.0400 81.88);
        --overlay: oklch(100.00% 0.0060 81.88);
        --overlay-foreground: oklch(21.03% 0.0200 81.88);
        --scrollbar: oklch(87.10% 0.0200 81.88);
        --segment: oklch(100.00% 0.0200 81.88);
        --segment-foreground: oklch(21.03% 0.0200 81.88);
        --separator: oklch(92.00% 0.0200 81.88);
        --success: oklch(73.29% 0.2012 130.18);
        --success-foreground: oklch(21.03% 0.0059 130.18);
        --surface: oklch(100.00% 0.0100 81.88);
        --surface-foreground: oklch(21.03% 0.0200 81.88);
        --surface-secondary: oklch(95.24% 0.0160 81.88);
        --surface-secondary-foreground: oklch(21.03% 0.0200 81.88);
        --surface-tertiary: oklch(93.73% 0.0160 81.88);
        --surface-tertiary-foreground: oklch(21.03% 0.0200 81.88);
        --warning: oklch(78.19% 0.1648 51.70);
        --warning-foreground: oklch(21.03% 0.0059 51.70);

        /* Border Radius */
        --radius: 0.5rem;
        --field-radius: 0.75rem;

        /* Font Family */
        /* Make sure to load Inter font in your app */
        --font-sans: var(--font-inter);
    }


    :root[data-theme="yellow-dark"] {
        color-scheme: dark;
        /* Theme Colors (Dark Mode) */
        --accent: oklch(62.04% 0.1950 81.88);
        --accent-foreground: oklch(99.11% 0 0);
        --background: oklch(12.00% 0.0200 81.88);
        --border: oklch(28.00% 0.0200 81.88);
        --danger: oklch(59.40% 0.2046 4.00);
        --danger-foreground: oklch(99.11% 0 0);
        --default: oklch(27.40% 0.0200 81.88);
        --default-foreground: oklch(99.11% 0 0);
        --field-background: oklch(21.03% 0.0400 81.88);
        --field-foreground: oklch(99.11% 0.0200 81.88);
        --field-placeholder: oklch(70.50% 0.0400 81.88);
        --focus: oklch(62.04% 0.1950 81.88);
        --foreground: oklch(99.11% 0.0200 81.88);
        --muted: oklch(70.50% 0.0400 81.88);
        --overlay: oklch(21.03% 0.0400 81.88);
        --overlay-foreground: oklch(99.11% 0.0200 81.88);
        --scrollbar: oklch(70.50% 0.0200 81.88);
        --segment: oklch(39.64% 0.0200 81.88);
        --segment-foreground: oklch(99.11% 0.0200 81.88);
        --separator: oklch(25.00% 0.0200 81.88);
        --success: oklch(73.29% 0.2012 130.18);
        --success-foreground: oklch(21.03% 0.0059 130.18);
        --surface: oklch(21.03% 0.0400 81.88);
        --surface-foreground: oklch(99.11% 0.0200 81.88);
        --surface-secondary: oklch(25.70% 0.0300 81.88);
        --surface-secondary-foreground: oklch(99.11% 0.0200 81.88);
        --surface-tertiary: oklch(27.21% 0.0300 81.88);
        --surface-tertiary-foreground: oklch(99.11% 0.0200 81.88);
        --warning: oklch(82.03% 0.1444 55.71);
        --warning-foreground: oklch(21.03% 0.0059 55.71);
    }
}